<a class="button-secondary" href="mailto:?subject=Here is my <%=type%> <%=title%>&amp;body=You can view my SGAME <%=type%> here:%0A%0A<%=url%>%0A%0ARegards,%0A%0A<%=name%>" title="Send link by Email">
	<i class="fa fa-envelope-o"></i> Send resource by Email
</a>
