<div class="left-info">

  <!--Author-->
  <%unless @presentation.author.nil? %>
    <div class="author">
      <div class="avatar">
        <%= link_to @presentation.author.subject do %>
          <%= image_tag @presentation.author.logo.url(:small) %>
        <% end %>
      </div>

      <div class="right-name">
        <%= link_to @presentation.author.subject do %>
          <p><%= truncate_name(@presentation.author.name, :length => 50) %></p>
        <%end%>
        <div class="add">
          <% if user_signed_in?%>
            <%= contact_button(current_subject.contact_to!(@presentation.author)) %>
          <%else%>
            <%= contact_button(@presentation.author) %>
          <%end%>
        </div>
      </div>
    </div>
  <%end%>
</div>

<div class="panel-group" id="accordion">
  <div class="panel">

    <header>
      <table class="table table-hover">
        <!--type-->
        <% unless @presentation.class.name.blank? %>
          <tr>
            <td><span><%= t('document.info.type') %></span></td>
            <td><%= t("document.info.types." + @presentation.class.name.downcase, :default => @presentation.class.name) %></td>
          </tr>
        <% end %>

        <!-- version (for SCORM packages, ...) -->
        <% if @presentation.respond_to?(:resource_version) and !@presentation.resource_version.blank? %>
          <tr>
            <td><span><%= t('document.info.version') %></span></td>
            <td><%=@presentation.resource_version%></td>
          </tr>
        <% end %>
        
        <!--description-->
        <% unless @presentation.description.blank? %>
          <tr>
            <td><span><%= t('document.info.description') %></span></td>
            <td><%= truncate(@presentation.description, :length => 400) %></td>
          </tr>
        <% end %>
        
        <!--tags-->
        <% unless @presentation.tag_list.blank? %>
          <tr>
            <td><span><%= t('document.info.tags') %></span></td>
            <td>
              <ul class="tagit-suggestions">
                <% @presentation.tag_list.each do |tag| %>
                <li class="tagit-choice">
                  <%= link_to tag, search_path(:q => tag) %>
                </li>
                <% end %>
              </ul>
            </td>
          </tr>
        <% end %>

        <!--author/owner-->
        <% unless @presentation.author.nil? %>
          <tr>
            <td><span><%= !@presentation.linked? ? t('document.info.author') : t('document.info.linked_by') %></span></td>
            <td><%= link_to(@presentation.author.name, @presentation.author.subject) %></td>
          </tr>
        <% end %>

        <% if @presentation.should_have_license? %>
          <!--license-->
          <% unless @presentation.license.nil? %>
            <tr>
              <td><span><%= t('document.info.license') %></span></td>
              <td>
                <%= @presentation.license_name %>
              </td>
            </tr>
          <% end %>
          <!--license attribution-->
          <% unless @presentation.license_attribution.nil? or @presentation.license.nil? or !@presentation.license.requires_attribution? %>
            <tr>
              <td><span><%= t('document.info.license_attribution') %></span></td>
              <td>
                <%= @presentation.license_attribution %>
              </td>
            </tr>
          <% end %>
        <% end %>

        <!--contributors-->
        <% if @presentation.respond_to?("contributors") and !@presentation.contributors.blank? %>
          <tr>
            <td><span><%= t('excursion.contributors.name').capitalize %></span></td>
            <td>
              <% @presentation.contributors.uniq.each_with_index do |c,index| %>
                <% unless index==0 %>
                  ,
                <% end %>
                <%= link_to c.name, c.subject %>
              <%end%>
            </td>
          </tr>
        <%end%>

      </table>
    </header>

    <div class="panel-body">
      <div id="collapseInfo" class="panel-collapse collapse">
        <table class="table table-hover">
            <!--language-->
            <% unless @presentation.readable_language.blank? %>
              <td><span><%= t('lang.title').capitalize %></span></td>
              <td><%= @presentation.readable_language %></td>
            <% end %>
          </tr>

          <% if @presentation.respond_to?("attachment") and !@presentation.attachment.blank? %>
           <tr>
            <td><span><%= t('excursion.actions.attachment') %></span></td>
          <td>
            <a href="/excursions/<%= @presentation.id %>/attachment"><%= @presentation.get_attachment_name %></a>
           <tr>
          <% end %>
          <tr>
            <!--date-created-->
            <td><span><%= t('document.info.date.created_at') %></span></td>
            <td><%= I18n.localize @presentation.created_at, :format => :long %></td>
          </tr>
          <tr>
            <!--date-upload-->
            <td><span><%= t('document.info.date.updated_at') %></span></td>
            <td><%= I18n.localize @presentation.updated_at, :format => :long %></td>
          </tr>
          <tr>
            <!--size-->
            <% if @presentation.respond_to?("file") and !@presentation.file.nil? and @presentation.respond_to?("file_file_size") and !@presentation.file_file_size.blank? %>
              <td><span><%= t('document.info.size') %></span></td>
              <td><%= number_to_human_size @presentation.file_file_size %></td>
            <%end%>
          </tr>
        </table>
      </div>
    </div>

    <div class="panel-footer">
      <a class="expand" data-toggle="collapse" data-parent="#accordion" href="#collapseInfo">
        <span id="showingMore" class="showMore accordion-toggle btn btn-secundary collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseInfo" title="<%=t('excursion.actions.show_more')%>" status="collapsed"><%=t('excursion.actions.show_more')%></span>
      </a>

      <!--metadata-->
      <% displayMetadata = @presentation.respond_to?("metadata") %>
      <% if displayMetadata %>
        <button href="#MetadataModal" id="showMeta" data-toggle="modal" class="btn btn-secundary">
          <%=t('excursion.actions.show_meta')%>
        </button>
      <%end%>

      <!--Views and Likes-->
      <div class="viewsAndCount">
        <div class="views">
          <%=@presentation.visit_count.to_s%>
          <span><%=t('follow.views')%></span>
        </div>
        <%unless @presentation.post_activity.nil?%>
          <div class="like">
            <div class="count"><%=@presentation.post_activity.likes.count.to_s%></div>
            <%= link_like(@presentation.post_activity)%>
          </div>
        <%end%>
      </div>
    </div>

  </div>
</div>

<% if displayMetadata %>
  <div id="MetadataModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
          </button>
          <h3 id="myMetadataLabel">
            <%= t('excursion.modal.metadata_title') %>
          </h3>
        </div>

        <div class="modal-body">
          <ul class="metadatalist">
            <%@presentation.metadata.each do |key, value| %>
              <%unless value.blank?%>
                <li>
                  <span class="metadatalistkey"><%=key%>:</span>
                  <span class="metadatalistkey2"><%=value%></span>
                </li>
              <%end%>
            <%end%>
            <%if @presentation.class.name == "Excursion" %>
              <li>
                <span class="metadatalistkey"><%=t("metadata.access_lom")%>:</span>
                <span class="metadatalistkey2"><a target="_blank" href="<%=ao_object_metadata_path(resource)%>"><%=Vish::Application.config.full_domain + ao_object_metadata_path(resource)%></a></span>
              </li>
            <%end%>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% content_for :javascript do %>
  $("#showingMore").click(function(e){
    if($("#showingMore").attr("status")==="expanded"){
      $("#showingMore").html('<%=t("excursion.actions.show_more")%>');
      $("#showingMore").attr("title", "<%=t('excursion.actions.show_fewer')%>");
      $("#showingMore").attr("status", "collapsed");
    } else {
      $("#showingMore").html('<%=t('excursion.actions.show_fewer')%>');
      $("#showingMore").attr("title", "<%=t("excursion.actions.show_more")%>");
      $("#showingMore").attr("status", "expanded");
    }
  });
<%end%>
