<%content_for :title do %><%= @presentation.title %> - <%= !@presentation.author.nil? ? @presentation.author.name : "" %><% end %>
<%content_for :description do %><%= t("site.meta_desc.presentation")+@presentation.title + ". " + (@presentation.description ? @presentation.description : "")  %><% end %>
<%content_for :keywords do %><%= @presentation.tag_list %><% end %>
<% shortURL = request.protocol + request.env['HTTP_HOST'].sub(/^(m|www)\./, '') + presentation_path(@presentation) %>
<%content_for :og_image do %><%= Utils.checkUrlProtocol(@presentation.thumbnail_url,request.protocol) || request.protocol + request.env['HTTP_HOST'] + "/assets/logos/original/presentation-vish.png" %><% end %>
<%content_for :canonical do%><%=polymorphic_url(@presentation, :locale => params[:locale])%><%end%>
<%isPresentationOwner = (user_signed_in? and current_user.id == @presentation.author_id) %>


<% @contribution = (params["contribution"]=="true" and !@presentation.contribution.nil?)%>

<%=javascript_include_tag "VISH.IframeAPI" %>

<script type="text/javascript">
  //VE extra vars
  var options = {};
  options["readHashFromParent"] = true;
</script>

<!--<hr>-->

<section id="show_items " class="layout_show">

  <div class="doc-show">
    <h3><i class="fa fa-image"></i> <%= @presentation.title %></h3>
    <div class="box-show row">
      <div class="viewerContainer col-xs-12 col-sm-8 col-lg-9">
        <div class="viewerElement"></div>
        <%= render :partial => 'presentation_show', :locals  => { :presentation => @presentation, :isPresentationOwner => isPresentationOwner  } %>
      </div>
      <div class="viewerContainer col-xs-12 col-sm-4 col-lg-3">
        <%= render :partial => 'presentation_related_tab', :locals  => { :presentation => @presentation, :isPresentationOwner => isPresentationOwner } %>
      </div>
    </div>

    <!--owner-profile-->
    <div class="description-activity">
      <div class="box_description">
        <!--tool-->
        <div class="presentation_tool">
          <%= render :partial => 'presentation_tool_tab', :locals => { :shortURL => shortURL} %>
        </div>
      </div>

    </div>
  </div>

</section>