<%= javascript_include_tag "sgame_demo" %>
<%= stylesheet_link_tag "sgame_demo" %>

<script type="text/javascript">
	var game_templates;
	var scormfiles;
	$(document).ready(function(){
		game_templates = <%=raw @game_templates.to_json%>;
		scormfiles = <%=raw @scormfiles.to_json%>;
		SGAME_DEMO.init(game_templates,scormfiles);
	});
</script>

<div id="sgame_demo">
	<img src="/assets/plus.png" class="plus" />
	<div class="game">
		<div class="carrousel_title_wrapper">
			<p class="carrousel_title">choose game</p>
		</div>
		<div class="carrousel_wrapper">
			<div id="games_carrousel"></div>
		</div>
		<div class="preview">
			<img/>
			<p></p>
		</div>
	</div>
	<div class="scormfiles">
		<div class="carrousel_title_wrapper">
			<p class="carrousel_title">choose SCORM package</p>
		</div>
		<div class="carrousel_wrapper">
			<div id="scormfiles_carrousel"></div>
		</div>
		<div class="preview">
			<ul id="lo_list"></ul>
		</div>
	</div>
	<div class="create">    
		<p class="createButton">Create</p>
	</div>

  	<a id="game_fancybox_link" href="#game_fancybox" style="display:none"></a>
	<div style='display:none'>
		<div id="game_fancybox">
			<div id="form_game_title">Create new game</div>
			<%= form_for(:game, :html => {:multipart => true, :id=>"create_form"}, :url => "/game") do |f| %>
				<input type="hidden" name="g_template_id" id="g_template_id" value=""></input>
				<input type="hidden" name="scorms_ids" id="scorms_ids" value=""></input>
				<p><span class="game_form_span">Game template:</span><span id="g_template_info"></span></p>
				<p><span class="game_form_span">Scorm packages:</span><span id="scorms_info"></span></p>

				<label class="text_label" for="name">
					<%= f.label "Name" %>
				</label>
				<div>
					<%= f.text_field :name, :class => "", :rows => 5 %>
				</div>
				<label class="text_label" for="avatar">
					<%= f.label "Avatar URL" %>
				</label>
				<div>
					<%= f.text_field :avatar_url, :class => "" %>
				</div>

				<button id="submit_game_form" class="createGameButton">Create</button>
			<%end%>
		</div>
	</div>
</div>