<%= javascript_include_tag "sgame_demo" %>
<%= stylesheet_link_tag "sgame_demo" %>

<script type="text/javascript">
	var game_templates;
	var scormfiles;
	var options;
	$(document).ready(function(){
		game_templates = <%=raw @game_templates.to_json%>;
		scormfiles = <%=raw @scormfiles.to_json%>;
		options = {};
		options.user_logged_in = <%=raw user_signed_in?%>;
		SGAME_DEMO.init(game_templates,scormfiles,options);
	});
</script>

<div id="sgame_demo">
	<img src="/assets/plus.png" class="plus" />
	<div class="game">
		<div class="carrousel_title_wrapper">
			<p class="carrousel_title">choose game</p>
		</div>
		<div class="carrousel_wrapper">
			<div id="games_carrousel"></div>
		</div>
		<div class="selected">
			<img/>
			<p></p>
		</div>
	</div>
	<div class="scormfiles">
		<div class="carrousel_title_wrapper">
			<p class="carrousel_title">choose SCORM package</p>
		</div>
		<div class="carrousel_wrapper">
			<div id="scormfiles_carrousel"></div>
		</div>
		<div class="selected">
			<ul id="scormfiles_list"></ul>
		</div>
	</div>
	<div class="create">    
		<p class="createButton">Create</p>
	</div>
	<a id="preview_scormfile_fancybox" class="fancybox" style="display:none"></a>
</div>