<%= javascript_include_tag "sgame_demo" %>
<%= javascript_include_tag "sgame_demo_locales" %>
<%= stylesheet_link_tag "sgame_demo" %>

<script type="text/javascript">
	var game_templates;
	var scormfiles;
	var options;
	$(document).ready(function(){
		game_templates = <%=raw @game_templates.to_json%>;
		scormfiles = <%=raw @scormfiles.to_json%>;
		options = {};
		options.user_logged_in = <%=raw user_signed_in?%>;
		options.language = "<%=I18n.locale.to_s%>";
		SGAME_DEMO.init(game_templates,scormfiles,options);
	});
</script>

<div id="sgame_demo">

	<img src="/assets/plus.png" class="plus" />
	<div class="game">
		<div class="carrousel_title_wrapper">
			<p class="carrousel_title"><%=t("demo.game_carousel_title")%></p>
		</div>
		<div class="carrousel_wrapper">
			<div id="games_carrousel"></div>
		</div>
		<div class="selected">
			<img/>
			<p></p>
		</div>
	</div>
	<div class="scormfiles">
		<div class="carrousel_title_wrapper">
			<p class="carrousel_title"><%=t("demo.scormfiles_carousel_title")%></p>
		</div>
		<div class="carrousel_wrapper">
			<div id="scormfiles_carrousel"></div>
		</div>
		<div class="selected">
			<ul id="scormfiles_list"></ul>
		</div>
	</div>
	<div class="demo_create">
		<p class="createButton"><%=t("demo.create")%></p>
		<p class="createButton"><%=t("demo.educational_game")%></p>
	</div>
	<a id="preview_scormfile_fancybox" class="fancybox" style="display:none"></a>
	<form id="demo_form" action="/demo/create" method="post" style="display:none">
		<input type="hidden" name="game_template"></input>
		<input type="hidden" name="scormfiles"></input>
	</form>
</div>