<% if lookup_context.template_exists?(document.document_type, document.document_type.tableize, true) %>
	<%= render partial: "#{document.document_type.tableize}/#{document.document_type}", locals: { document.document_type.to_sym => document } %>
<% else %>
	<% generated_id = "document-" + document.id.to_s %>
	<div class="item_box item_box_<%=document.document_type%>">
		<div class="item_icon">
			<a href=<%=  document_url(document) %>>
				<% if document.respond_to?("mini_thumbnail_url") %>
					<img src="<%=document.mini_thubnail_url%>"/>
				<% else %>
					<img src="/assets/glyphicons-37-file.png"/>
				<% end %>
			</a>
		</div>
		<div class="item_thumbnail">
			<%= link_to(document_url(document)) do %>
				<div class="item_thumbnail_img" id="<%=generated_id%>"></div>
			<%end%>
		</div>
		<div class="item_title">
			<%= link_to(document_url(document)) do %>
				<p class="title"><%= document.title %></p>
			<%end%>
		</div>
	</div>
	<% if document.respond_to?("thumbnail_url") %>
		<script>
			document.getElementById("<%=generated_id%>").style.backgroundImage = "url('<%=document.thumbnail_url%>')";
		</script>
	<% end %>
<% end %>