<div id="new_document_form_wrapper">
	<%= form_for (@document || Document.new), url: {action: "create"}, html: {class: "new_document_form"} do |f| %>
		
		<%= f.hidden_field :owner_id, :value => current_user.id %>

		<div class="field">
			<p class="form_legend"><%=t("dictionary.file")%></p>
			<%= f.file_field :file %>
		</div>

		<div class="field">
			<p class="form_legend"><%=t("dictionary.title")%></p>
			<%= f.text_field :title %>
		</div>
		<div class="field">
			<p class="form_legend"><%=t("dictionary.description")%></p>
			<%= f.text_field :description %>
		</div>
	  
	    <div class="actions">
	      <%= f.submit(t("document.new"), {class: "sgame_button sign_up_button"}) %>
	    </div>
	<% end %>
</div>