<%= javascript_include_tag "sgame_at" %>
<%= stylesheet_link_tag "sgame_at" %>

<script type="text/javascript">
	var game_templates;
	var scormfiles;
	var options;
	$(document).ready(function(){
		SGAME_AT_Locales = {
			"i.and"								: "<%= t("dictionary.and") %>",
			"i.cancel"							: "<%= t("dictionary.cancel") %>",
			"i.dialog_confirmation"				: "<%= t("dictionary.are_you_sure") %>",
			"i.gt_change_confirmation"			: "<%= t("at.msgs.gt_change_confirmation") %>",
			"i.upload_game_template"			: "<%= t("game_templates.new") %>",
			"i.upload_scormfile"				: "<%= t("documents.new") %>",
			"i.error_lo_already_added"  		: "<%= t("at.errors.lo_already_added") %>",
			"i.error_sf_already_added"  		: "<%= t("at.errors.sf_already_added") %>",
			"i.error_some_los_already_added"  	: "<%= t("at.errors.some_los_already_added") %>",
			"i.error_no_los"  					: "<%= t("at.errors.no_los") %>",
			"i.error_invalid_mapping"  			: "<%= t("at.errors.invalid_mapping") %>",
			"i.all"  							: "<%= t("dictionary.all") %>",
			"i.none"  							: "<%= t("dictionary.none") %>"
		}
		game_templates = <%=raw @game_templates.to_json( :include => [:events] )%>;
		scormfiles = <%=raw @scormfiles.to_json( :include => [:los] )%>;
		options = {};
		SGAME_AT.init(game_templates,scormfiles,options);
	});
</script>

<div id="sgame_at">
	
	<div step="1" class="game">
		<div class="stepTitle">
			<p>1. <%=t("at.step1.title")%></p>
		</div>
		<div class="stepContent">
			<div class="stepDescription">
				<p><%=t("at.step1.description")%></p>
			</div>
			<div class="carrousel_wrapper">
				<div id="games_carrousel"></div>
			</div>
			<div class="selected" style="display:none">
				<div class="r1 c1">
					<table class="at_a">
						<tr class="title">
							<th><%= t("dictionary.title") %></th>
							<td></td> 
						</tr>
						<tr class="description">
							<th><%= t("dictionary.description") %></th>
							<td></td> 
						</tr>
						<tr class="language">
							<th><%= t("dictionary.language") %></th>
							<td></td> 
						</tr>
					</table>
					<table class="at_b" style="display:none">
						<tr class="title">
							<th colspan="2"><%= t("events.title") %></th>
						</tr>
						<tr class="header">
							<th class="name"><%= t("events.name") %></th>
							<th class="description"><%= t("events.description") %></th>
						</tr>
					</table>
				</div>
				<div class="r1 c2">
					<img class="thumbnail" title="<%= t('at.click_to_preview') %>" style="display:none"/>
				</div>
			</div>
			<div class="step_actions">
				<button id="step1_confirmation" class="sgame_button"><%=t("at.step1.confirmation")%></button>
			</div>
		</div>
	</div>
	
	<div step="2" class="scormfiles disabled">
		<div class="stepTitle">
			<p>2. <%=t("at.step2.title")%></p>
		</div>
		<div class="stepContent stephidden" style="display:none">
			<div class="stepDescription">
				<p><%=t("at.step2.description")%></p>
			</div>
			<div class="stepSubtitle">
				<p>2A. <%=t("at.step2.titleA")%></p>
			</div>
			<div class="carrousel_wrapper">
				<div id="scormfiles_carrousel"></div>
			</div>
			<div class="selected" style="display:none">
				<div class="r1 c1">
					<table class="at_a">
						<tr class="title">
							<th><%= t("dictionary.title") %></th>
							<td></td> 
						</tr>
						<tr class="description">
							<th><%= t("dictionary.description") %></th>
							<td></td> 
						</tr>
						<tr class="language">
							<th><%= t("dictionary.language") %></th>
							<td></td> 
						</tr>
						<tr class="version">
							<th><%= t("at.scorm_version") %></th>
							<td></td> 
						</tr>
						<tr class="nresources">
							<th><%= t("at.nresources") %></th>
							<td></td> 
						</tr>
					</table>
					<table class="at_c" style="display:none">
						<tr class="title">
							<th colspan="4"><%= t("los.title") %></th>
						</tr>
						<tr class="header">
							<th class="index"><%= t("los.index") %></th>
							<th class="type"><%= t("los.type") %></th>
							<th class="preview"><%= t("dictionary.preview") %></th>
							<th class="add"><%= t("dictionary.add") %> </th>
						</tr>
					</table>
					<button id="step2_addscormfile" class="sgame_button"><%=t("at.step2.add_scormfile")%></button>
				</div>
				<div class="r1 c2">
					<img class="thumbnail" title="<%= t('at.click_to_preview') %>" style="display:none"/>
				</div>
			</div>
			<div class="stepSubtitle">
				<p>2B. <%=t("at.step2.titleB")%></p>
			</div>
			<div class="selected_los">
				<p class="nolos"><%= t("at.no_selected_los") %></p>
				<table class="at_c" style="display:none">
					<tr class="header">
						<th class="title"><%= t("los.title") %></th>
						<th class="type"><%= t("los.type") %></th>
						<th class="preview"><%= t("dictionary.preview") %></th>
						<th class="remove"><%= t("dictionary.remove") %> </th>
					</tr>
				</table>
			</div>
			<div class="step_actions">
				<button id="step2_confirmation" class="sgame_button"><%=t("at.step2.confirmation")%></button>
			</div>
		</div>
	</div>

	<div step="3" class="mapping disabled">
		<div class="stepTitle">
			<p>3. <%=t("at.step3.title")%></p>
		</div>
		<div class="stepContent stephidden" style="display:none">
			<div class="stepDescription">
				<p><%=t("at.step3.description")%></p>
			</div>
			<div class="mapping_table_wrapper">
				<table class="at_c" style="display:none">
					<tr class="header">
						<th class="name"><%= t("events.name") %></th>
						<th class="description"><%= t("events.description") %></th>
						<th class="description"><%= t("events.lo") %></th>
					</tr>
				</table>
			</div>
			<div class="step_actions">
				<button id="step3_confirmation" class="sgame_button"><%=t("at.step3.confirmation")%></button>
			</div>
		</div>
	</div>

	<div step="4" class="sequencing disabled">
		<div class="stepTitle">
			<p>4. <%=t("at.step4.title")%></p>
		</div>
		<div class="stepContent stephidden" style="display:none">
			<div class="stepDescription">
				<p><%=t("at.step4.description")%></p>
			</div>
			<div class="sequencing_wrapper">
				<div class="seq_opt">
					<p><%=t("at.step4.opt1.title")%></p>
					<input type="radio" name="sseq_opt1" value="true" checked> <%=t("at.step4.opt1.choice1")%><br>
					<input type="radio" name="sseq_opt1" value="false"> <%=t("at.step4.opt1.choice2")%><br>
				</div>
			</div>
			<div class="step_actions">
				<button id="step4_confirmation" class="sgame_button"><%=t("at.step4.confirmation")%></button>
			</div>
		</div>
	</div>

	<a id="preview_iframe_fancybox" class="fancybox" style="display:none"></a>
</div>

<div id="update_document_form_wrapper" class="document_form_wrapper" style="display:none">
	<%= form_for game, url: {action: controller.action_name}, html: {class: "update_document_form document_form"} do |f| %>
		<%= f.hidden_field :title %>
		<%= f.hidden_field :description %>
	<% end %>
</div>

<%= link_to t("dictionary.back"), :back, :class=>"back_button" %>