<%= render :partial => "sgame_at_locales" %>
<%= javascript_include_tag "sgame_at" %>
<%= stylesheet_link_tag "sgame_at" %>

<script type="text/javascript">
	$(document).ready(function(){
		var game_templates = <%=raw @game_templates.to_json%>;
		var scormfiles = <%=raw @scormfiles.to_json%>;
		var options = {};
		options["authenticity_token"] = "<%= form_authenticity_token %>";
		<% editMode = (!@game.nil? and !@game.editor_data.nil?) %>
		<% if editMode %>
			var initial_state = <%=raw @game.editor_data%>;
		<% else %>
			var initial_state = {};
		<% end %>

		SGAME_AT.init(initial_state,game_templates,scormfiles,options);
	});
</script>

<div id="sgame_at">
	
	<div step="1" class="game_template disabled">
		<div class="stepTitle">
			<p>1. <%=t("at.step1.title")%></p>
		</div>
		<div class="stepContent stephidden" style="display:none">
			<div class="stepDescription">
				<p><%=t("at.step1.description")%></p>
			</div>
			<div class="carrousel_wrapper">
				<div id="game_templates_carrousel"></div>
			</div>
			<div class="selected" style="display:none">
				<div class="r1 c1">
					<table class="at_a">
						<tr class="title">
							<th><%= t("dictionary.title") %></th>
							<td></td> 
						</tr>
						<tr class="description">
							<th><%= t("dictionary.description") %></th>
							<td></td> 
						</tr>
						<tr class="language">
							<th><%= t("dictionary.language") %></th>
							<td></td> 
						</tr>
					</table>
					<table class="at_b" style="display:none">
						<tr class="title">
							<th colspan="4"><%= t("events.title") %></th>
						</tr>
						<tr class="header">
							<th class="name"><%= t("events.name") %></th>
							<th class="description"><%= t("events.description") %></th>
							<th class="description"><%= t("events.type") %></th>
							<th class="description"><%= t("events.frequency") %></th>
						</tr>
					</table>
				</div>
				<div class="r1 c2">
					<img class="thumbnail" title="<%= t('at.msgs.click_to_preview') %>" style="display:none"/>
				</div>
			</div>
			<div class="step_actions">
				<button id="step1_confirmation" class="sgame_button"><%=t("at.step1.confirmation")%></button>
			</div>
		</div>
	</div>
	
	<div step="2" class="scormfiles disabled">
		<div class="stepTitle">
			<p>2. <%=t("at.step2.title")%></p>
		</div>
		<div class="stepContent stephidden" style="display:none">
			<div class="stepDescription">
				<p><%=t("at.step2.description")%></p>
			</div>
			<div class="stepSubtitle">
				<p>2A. <%=t("at.step2.titleA")%></p>
			</div>
			<div class="carrousel_wrapper">
				<div id="scormfiles_carrousel"></div>
			</div>
			<div class="selected" style="display:none">
				<div class="r1 c1">
					<table class="at_a">
						<tr class="title">
							<th><%= t("dictionary.title") %></th>
							<td></td> 
						</tr>
						<tr class="description">
							<th><%= t("dictionary.description") %></th>
							<td></td> 
						</tr>
						<tr class="language">
							<th><%= t("dictionary.language") %></th>
							<td></td> 
						</tr>
						<tr class="version">
							<th><%= t("at.msgs.scorm_version") %></th>
							<td></td> 
						</tr>
						<tr class="nresources">
							<th><%= t("at.msgs.nresources") %></th>
							<td></td> 
						</tr>
					</table>
					<table class="at_c" style="display:none">
						<tr class="title">
							<th colspan="4"><%= t("at.los.title") %></th>
						</tr>
						<tr class="header">
							<th class="index"><%= t("at.los.index") %></th>
							<th class="type"><%= t("at.los.type") %></th>
							<th class="preview"><%= t("dictionary.preview") %></th>
							<th class="add"><%= t("dictionary.add") %> </th>
						</tr>
					</table>
					<button id="step2_addscormfile" class="sgame_button"><%=t("at.step2.add_scormfile")%></button>
				</div>
				<div class="r1 c2">
					<img class="thumbnail" title="<%= t('at.msgs.click_to_preview') %>" style="display:none"/>
				</div>
			</div>
			<div class="stepSubtitle">
				<p>2B. <%=t("at.step2.titleB")%></p>
			</div>
			<div class="selected_los">
				<p class="nolos"><%= t("at.msgs.no_selected_los") %></p>
				<table class="at_c" style="display:none">
					<tr class="header">
						<th class="title"><%= t("at.los.title") %></th>
						<th class="type"><%= t("at.los.type") %></th>
						<th class="preview"><%= t("dictionary.preview") %></th>
						<th class="remove"><%= t("dictionary.remove") %> </th>
					</tr>
				</table>
			</div>
			<div class="step_actions">
				<button id="step2_confirmation" class="sgame_button"><%=t("at.step2.confirmation")%></button>
			</div>
		</div>
	</div>

	<div step="3" class="mapping disabled">
		<div class="stepTitle">
			<p>3. <%=t("at.step3.title")%></p>
		</div>
		<div class="stepContent stephidden" style="display:none">
			<div class="stepDescription">
				<p><%=t("at.step3.description")%></p>
			</div>
			<div class="mapping_table_wrapper">
				<table class="at_c" style="display:none">
					<tr class="header">
						<th class="name"><%= t("events.name") %></th>
						<th class="description"><%= t("events.description") %></th>
						<th class="type"><%= t("events.type") %></th>
						<th class="frequency"><%= t("events.frequency") %></th>
						<th class="los"><%= t("events.lo") %></th>
					</tr>
				</table>
			</div>
			<div class="step_actions">
				<button id="step3_confirmation" class="sgame_button"><%=t("at.step3.confirmation")%></button>
			</div>
		</div>
	</div>

	<div step="4" class="sequencing disabled">
		<div class="stepTitle">
			<p>4. <%=t("at.step4.title")%></p>
		</div>
		<div class="stepContent stephidden" style="display:none">
			<div class="stepDescription">
				<p><%=t("at.step4.description")%></p>
			</div>
			<div class="options_wrapper">
				<div class="option_wrapper">
					<p class="options_legend"><%=t("at.step4.opt1.title")%></p>
					<input type="radio" name="seq_opt1" value="repeat" checked> <%=t("at.step4.opt1.choice1")%><br>
					<input type="radio" name="seq_opt1" value="repeat_unless_successfully_consumed"> <%=t("at.step4.opt1.choice2")%><br>
					<input type="radio" name="seq_opt1" value="no_repeat"> <%=t("at.step4.opt1.choice3")%><br>
				</div>
			</div>
			<div class="step_actions">
				<button id="step4_confirmation" class="sgame_button"><%=t("at.step4.confirmation")%></button>
			</div>
		</div>
	</div>

	<div step="5" class="settings disabled">
		<div class="stepTitle">
			<p>5. <%=t("at.step5.title")%></p>
		</div>
		<div class="stepContent stephidden" style="display:none">
			<div class="stepDescription">
				<p><%=t("at.step5.description")%></p>
			</div>
			<div class="options_wrapper">
				<div class="option_wrapper">
					<p class="options_legend"><%=t("at.step5.opt1.title")%></p>
					<input type="radio" name="set_opt1" value="no_more_los" checked> <%=t("at.step5.opt1.choice1")%><br>
					<input type="radio" name="set_opt1" value="all_los_consumed"> <%=t("at.step5.opt1.choice2")%><br>
					<input type="radio" name="set_opt1" value="all_los_succesfully_consumed"> <%=t("at.step5.opt1.choice3")%><br>
					<input type="radio" name="set_opt1" value="never"> <%=t("at.step5.opt1.choice4")%><br>
				</div>
			</div>
			<div class="options_wrapper">
				<div class="option_wrapper">
					<p class="options_legend"><%=t("at.step5.opt2.title")%></p>
					<input type="radio" name="set_opt2" value="success"> <%=t("at.step5.opt2.choice1")%><br>
					<input type="radio" name="set_opt2" value="failure"> <%=t("at.step5.opt2.choice2")%><br>
					<input type="radio" name="set_opt2" value="failure_unless_blocking"> <%=t("at.step5.opt2.choice3")%><br>
					<input type="radio" name="set_opt2" value="success_unless_damage" checked> <%=t("at.step5.opt2.choice4")%><br>
				</div>
			</div>
			<div class="step_actions">
				<button id="step5_confirmation" class="sgame_button"><%=t("at.step5.confirmation")%></button>
			</div>
		</div>
	</div>

	<div step="6" class="metadata disabled">
		<div class="stepTitle">
			<p>6. <%=t("at.step6.title")%></p>
		</div>
		<div class="stepContent stephidden" style="display:none">
			<div class="stepDescription">
				<p><%=t("at.step6.description")%></p>
			</div>
			<div class="metadata_wrapper">
				<div class="metadata_field">
					<p class="metadata_field_legend"><%=t("at.step6.metadata1.title")%></p>
					<input maxlength="60" size="70" type="text" name="metadata_field1">
				</div>
				<div class="metadata_field">
					<p class="metadata_field_legend"><%=t("at.step6.metadata2.title")%></p>
					<textarea cols="73" rows="4" maxlength="280" resize="none" name="metadata_field2"></textarea>
				</div>
			</div>
			<div class="step_actions">
				<button id="step6_confirmation" class="sgame_button"><%=t("at.step6.confirmation")%></button>
			</div>
		</div>
	</div>

	<div step="7" class="creation disabled">
		<div class="stepTitle">
			<p>7. <%=t("at.step7.title")%></p>
		</div>
		<div class="stepContent stephidden" style="display:none">
			<div class="stepDescription">
				<p><%=t("at.step7.description")%></p>
			</div>
			<div class="step_actions">
				<button id="step7_confirmation" class="sgame_button"><%= editMode ? t("at.step7.confirmation_update") : t("at.step7.confirmation")%></button>
			</div>
		</div>
	</div>

	<a id="preview_iframe_fancybox" class="fancybox" style="display:none"></a>
</div>

<div id="game_form_wrapper" style="display:none">
	<%= form_for game, html: {id: "game_form", class: "update_document_form document_form"} do |f| %>
		<%= f.hidden_field :editor_data %>
		<%= f.submit %>
	<% end %>
</div>

<%= link_to t("dictionary.back"), :back,  :class=>"back_button", :data => { :confirm => t('dictionary.are_you_sure') } %>