<% generated_id= (profile[:object_class] + "-" + profile[:id_repository].to_s) %>
<div class="rsitem_box rsitem_box_<%=profile[:object_class]%>">
  <div class="rsitem_icon">
    <a href=<%= profile[:url] %>>
      <%if profile[:mini_thumbnail_url] %>
        <img src="<%=profile[:mini_thumbnail_url]%>"/>
      <% else %>
        <img src="/assets/glyphicons-37-file.png"/>
      <% end %>
    </a>
  </div>
  <div class="rsitem_thumbnail">
      <%= link_to(profile[:url]) do %>
        <div class="rsitem_thumbnail_img" id="<%=generated_id%>"></div>
      <% end %>
  </div>
  <div class="rsitem_title">
    <%= link_to(profile[:url]) do %>
      <p class="title"><%= profile[:title] %></p>
    <% end %>
  </div>
</div>

<% unless profile[:thumbnail_url].blank? %>
	<script>
	  document.getElementById("<%=generated_id%>").style.backgroundImage = "url('<%=profile[:thumbnail_url]%>')";
	</script>
<% end %>