<div id="new_document_form_wrapper" class="document_form_wrapper">
	<%= form_for (@game_template || GameTemplate.new), url: {action: "create"}, html: {class: "new_document_form document_form"} do |f| %>
		<%= f.hidden_field :owner_id, :value => current_user.id %>
		<div class="field">
			<p class="form_legend"><%=t("dictionary.file")%></p>
			<%= f.file_field :file %>
		</div>
		<div class="field">
			<p class="form_legend"><%=t("dictionary.title")%></p>
			<%= f.text_field :title, :maxlength => 60, :size => 70 %>
		</div>
		<div class="field">
			<p class="form_legend"><%=t("dictionary.description")%></p>
			<%= f.text_area :description, :cols => 73, :rows => 4, :maxlength => 280, :resize => "none" %>
		</div>
		<div class="field">
			<p class="form_legend"><%=t("dictionary.thumbnail")%></p>
			<%= f.file_field :thumbnail %>
		</div>
		<div class="field">
			<p class="form_legend"><%=t("dictionary.language")%></p>
			<%= f.select :language, options_for_select(I18n.available_locales.map{|l| [t("languages." + l.to_s),l.to_s]}, I18n.locale.to_s) %>
		</div>
		<div class="actions">
			<%= f.submit(t("game_templates.new"), {class: "sgame_button"}) %>
		</div>
		<br/>
		<%= link_to t("dictionary.back"), :back, :class=>"back_button" %>
	<% end %>
</div>