<ul>
  <li class="language">
    <div class="dropup">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        <img src="/assets/flags/flag_<%=I18n.locale.to_s%>"/>
        <div>
          <span class="languagetext"><%=t("dictionary.language")%></span>
          <span class="caret"></span>
        </div>
      </button>
      <ul class="dropdown-menu">
        <% I18n.available_locales.map(&:to_s).each do |lanCode| %>
          <form id="change_locale" action="/change_locale" action="GET">
            <input name="locale" value="" type="hidden"/>
            <li value="<%=lanCode%>"><img src="/assets/flags/flag_<%=lanCode%>"/><%=t("languages." + lanCode)%></li>
          </form>
        <% end %>
      </ul>
    </div>
  </li>
</ul>

<script>
  $(document).ready(function(){
    $("#change_locale li").click(function(e){
      $("#change_locale input[name]").attr("value",$(this).attr("value"));
      $("#change_locale").submit();
    });
  });
</script>