<!DOCTYPE html>
<html>
<head>
  <title>SGAME</title> 
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag "/assets/favicon.ico" %>
  <meta charset="UTF-8">
</head>
<body>
  <div id="wrapper">
    <%= render "layouts/data_warning" %>
    <header id="header">
      <%= render "layouts/header" %>
    </header>
    <div id="container">
      <%= render '/layouts/notifications' %>
      <%= yield %>
    </div>
    <footer id="footer">
      <%= render "layouts/footer" %>
    </footer>
  </div>
</body>
</html>