<div id="session_form">
  <h2><%=t("account.edit")%></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <p class="form_legend"><%=t("dictionary.email")%></p>
      <%= f.email_field :email, autofocus: true %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <p class="form_legend"><%=t("dictionary.language")%></p>
      <%= f.select :ui_language, options_for_select(options_for_select_all_languages, I18n.locale.to_s), {}, { :class => 'account_language' } %>
    </div>

    <div class="field">
      <p class="form_legend">* <%=t("login.password_in_settings")%></p>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <p class="form_legend">* <%=t("login.password_confirmation")%></p>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field">
      <p class="form_legend">* <%=t("login.password_current_in_settings")%></p>
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit(t("account.update"), {class: "sgame_button update_account_button"}) %>
    </div>
  <% end %>

  <br/>
  <h4><%=t("account.cancel")%></h4>
  <p><%= button_to t("account.cancel"), registration_path(resource_name), data: { confirm: t("dictionary.are_you_sure") }, method: :delete, class: "sgame_button cancel_account_button" %></p>

  <%= link_to "Back", :back %>
</div>