<div id="session_form">
  <h2><%=t("devise.registrations.new")%></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <p class="form_legend">* <%=t("dictionary.email")%></p>
      <p class="form_legend_description"><%=t("login.email_description")%></p>
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <p class="form_legend">* <%=t("dictionary.username")%></p>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <p class="form_legend"><%=t("dictionary.language")%></p>
      <%= f.select :language, options_for_select(options_for_select_all_languages, I18n.locale.to_s), {}, { :class => 'account_language' } %>
    </div>

    <div class="field">
      <p class="form_legend">* <%=t("login.password")%></p>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <p class="form_legend">* <%=t("login.password_confirmation")%></p>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <% if  SgamePlatform::Application.config.recaptcha %>
      <div class="field">
        <%= recaptcha_tags %>
      </div>
    <% end %>

    <div class="field">
      <%= f.check_box :accept_terms, id: "accept_terms_checkbox"  %>
      <%= f.label :accept_terms, t("policies.accept").html_safe %>
    </div>

    <div class="actions">
      <%= f.submit(t("devise.registrations.new"), {class: "sgame_button sign_up_button", id: "signup_submit_button", disabled: true, title: t("policies.must_accept_terms")}) %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const checkbox = document.getElementById("accept_terms_checkbox");
    const submit   = document.getElementById("signup_submit_button");
    if (!checkbox || !submit) return;
    checkbox.addEventListener("change", function (){
      submit.disabled = !this.checked;
      if (this.checked) {
        submit.disabled = false;
        submit.removeAttribute("title");
      } else {
        submit.disabled = true;
        var titleText = '<%=t("policies.must_accept_terms")%>';
        submit.setAttribute("title", titleText);
      }
    });
  });
</script>